<h1> Zona del formulario  </h1>

<form action="/posts/create" method="get">
  <fieldset>
    <legend>Articulo:</legend>
    <label for="title">Título</label><br>
    <input type="text" id="title" name="title" placeholder="Mi primer Artículo"><br>
    <label for="picture">Imagen (url)</label><br>
    <input type="text" id="picture" name="picture" placeholder="https://www.viaje.com/images/foto1.png"><br>
    <label for="content">Contenido</label><br>
    <input type="text" id="content" name="content" placeholder="Aquí escribe lo que quieras"><br><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>